@model restauranteASP.Articulo_

@{
    ViewBag.Title = "Eliminar Articulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="pt-1">Articulo</h4>

<p class="pt-1">Esta seguro que desea eliminar - @Html.DisplayFor(model => model.descipcion)?</p>
<div>
    
   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            </div>
        </div> 
    }
</div>



<div class="pt-2">
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-info" })
</div>
