@model restauranteASP.CajaTipoMoviento_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CajaTipoMoviento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCajaMovimiento }, new { @class = "btn btn-warning", style = "width:100px; height:30px; border-radius:15px; text-transform:uppercase; margin-left:500px; " })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
