@{
    ViewBag.Title = "About";
}

<img src="~/Styles/img/QuienesSomos.jpg" width="100%" height="60%" style="margin-top:-80px; border-radius:15px"/>

<h4 style="text-align:center; margin-top:20px;">Nuestra especialidad son los sentidos, más que las palabras</h4>


<p style="margin-top: 50px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    Nuestro ha nacido con un doble objetivo: queremos ser un restaurante donde te guste comer y donde te guste estar. Para ello, disponemos de un espacio funcional, al aire libre y elegante.
    Nuestra cocina abierta responde a la necesidad de compartir nuestra pasión con los clientes.
</p>
<br />
<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    Nos gusta lo que hacemos y nos gusta que lo veas.
    Nuestra propuesta gastronómica ofrece dos alternativas, siempre de la misma calidad. Con el menú diario hemos querido reinventar una apuesta tradicional sin perder la esencia. En la carta hemos dado rienda suelta a nuestra imaginación y a nuestro deseo de innovar.
    Podríamos seguir hablando de nosotros, nuestro restaurante  ya ha abierto sus puertas y te invitamos a que pases.
</p>