@{
    ViewBag.Title = "Contáctanos";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>


<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Apellidos</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" ">
    </div>


    <div class="form-group col-md-4">
        <label for="inputState">Provincia</label>
        <select id="inputState" class="form-control">
            <option selected>-------------</option>
            <option selected>San José</option>
            <option selected>Alajuela</option>
            <option selected>Cartago</option>
            <option selected>Heredia</option>
            <option selected>Puntarenas</option>
            <option selected>Limon</option>
            <option selected>Guanacaste</option>
            <option>...</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
</form>


<address>
    San Jose<br />
    La Uruca<br />
    <abbr title="Phone">Para reservaciones: 2222-1111</abbr>
</address>

<address>
    <strong>Contáctanos por correo: </strong>   <a href="mailto:Support@example.com">restaurante@gmail.com</a><br />
</address>