@{
    ViewBag.Title = "Contáctanos";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>

<address>
    San Jose<br />
    La Uruca<br />
    <abbr title="Phone">Para reservaciones: 2222-1111</abbr>
</address>

<address>
    <strong>Contáctanos por correo: </strong>   <a href="mailto:Support@example.com">restaurante@gmail.com</a><br />
</address>