@{
    ViewBag.Title = "Home Page";
}
<link href="~/Styles/index.css" rel="stylesheet" />

<div>
    <img src="~/Styles/Slider1.jpg" style="width:85%; margin:20px; margin-left:80px; border-radius:20px;  " />
</div>

<div>
    <img src="~/Styles/Slider2.jpg" style="width:85%; margin:20px; margin-left:80px; border-radius:20px;" />
</div>

<div class="platillos">
    <h2>Nuestros productos</h2>
    <ul>
        <li><img src="~/Styles/img/Food1.jpg" alt="AC Valhalla"></li>
        <li><img src="~/Styles/img/Food2.jpg" alt="AvengersPS4"></li>
        <li><img src="~/Styles/img/Food3.jpg" alt="MouseRazer"></li>
        <li><img src="~/Styles/img/Food4.jpg" alt="TLOU"></li>
    </ul>
</div>

<script src="~/Styles/Slider.js"></script>